.Top_half, .Footer {
    background-color: #1F2937;
    padding-left: 100px;
    padding-right: 100px;
    
}

.Header {
    display: flex;
    color: #E5E7EB;
    font-size: 18px;
    justify-content: space-between;
    
}

h1 {
    color: #F9FAF8;
    font-size: 24px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

.Header_Bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    padding-bottom: 100px;
    
}

button {
    color: #F9FAF8;
    background-color: #3882F6;
    border-color: #E5E7EB;
    border: solid;
    border-radius: 8px;
    padding: 5px 20px 5px 20px;
}

.Top_info {
    color: #F9FAF8;
    font-size: 18px;
    flex-wrap: wrap;
    width: 400px;
}

.title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 0px;
}
p {
    margin-top: 0px;
    margin-bottom: 5px;
}

.Image_Holder {
    background-color: grey;
    display: flex;
    align-items: center;
    padding: 55px 100px
}

/*  MIDDLE   */


h2 {
    display: flex;
    justify-content: center;
    font-weight: #1F2937;
    font-size: 36px;
}

.Container {
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 18px;
    color: #8a8d92;
    padding-bottom: 80px;
    
}

.Subtext {
    max-width: 150px;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

.Quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 80px 120px 80px 120px;
}


.Said {
    
    margin-left: 500px;
    font-weight: bold;
}

p {
    
    max-width: 800px;
}

.Action {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Action_Container {
    margin: 50px;
    padding: 30px 80px;
    background-color: #3882F6;
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    gap: 150px;
}
 .Action_button {
    color: #F9FAF8;
    background-color: #3882F6;
    border-color: #E5E7EB;
    border-radius: 8px;
    padding: 5px 20px 5px 20px;
 }

 .Action_text {
    color: #E5E7EB;
 }

 /* Bottom */

 .Footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color:#E5E7EB;
    padding-top: 20px;
    padding-bottom: 20px;
 }